header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #44529f;
  color: white;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.nav {
  color: white;
  display: flex;
  gap: 1rem;
}

.button--static {
  background: none;
  border: none;
  color: inherit;

}
@media(min-width: 768px) {
  header {
    flex-direction: row;
  }
}